*.uf2
*.bak
env.list
output
.khersak_id_ed25519
.khersak_id_rsa
.env
dts-bullshit/
.direnv
.west
.build
nice_view_sample.txt
zephyr
zmk
modules/
nice-view-gem/
zmk-auto-layer/
zmk-num-word/
zmk-tri-state/


scripts/temp_status.txt
.python-version
