# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_JAAN_LEFT
    def_bool $(shields_list_contains,jaan_left)

config SHIELD_JAAN_RIGHT
    def_bool $(shields_list_contains,jaan_right)
